/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

#main-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}
